<!-- include header file -->
<%- include('include/_header') %>


  <!-- main section start here  -->
  <div class="container m-auto py-10">

    <div class="table_wrapper">
      <section class="antialiased bg-gray-100 text-gray-600 px-4">
        <div class="flex flex-col justify-center h-full">
          <!-- Table -->
          <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="px-5 py-4 border-b border-gray-100">
              <a href="/adduser"
                class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-sm">
                Add User
              </a>
            </header>
            <div class="p-3">
              <div class="overflow-x-auto">
                <table class="table-auto w-full">
                  <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                    <tr>
                      <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">S No</div>
                      </th>
                      <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">Name</div>
                      </th>
                      <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">Email</div>
                      </th>
                      <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-center">Gender</div>
                      </th>
                      <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-center">Status</div>
                      </th>
                      <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-center">Action</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="text-sm divide-y divide-gray-100">
                    
                    <!-- table inn show.ejs file  -->
                    <%- include('include/_show') %> 

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <p class="text-center text-gray-500 text-xs">
    &copy;2021 Mohd Rehan Qureshi. All rights reserved.
  </p>
  <!-- main section end here  -->


<!-- include footer  -->
<%- include('include/_footer') %> 