<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
  <!-- header start here  -->
  <header class="bg-gray-800">
    <div class="container">
      <div class="text-center text-white py-3">
        <h2 class="text-3xl">User Management</h2>
      </div>
    </div>
  </header>
  <!-- header end here  -->